$background_accent: #EDECEC;
$background_main: #FFFFFF;

$text-color_main: #000000;
$text-color_accent: #F0F0F0;
$text-color_span: grey;

$button-collor_main: #EDECEC;
$button-collor_accent: #000000;
$button-collor_cansel: red;
$button-collor_accept:  green;
$button-text_main: #000000;
$button-text_accent: #FFFFFF;

$width-mobile: 360px;
$width-table: 720px;
$width-decktop: 1240px;
