@import 'shared/styles';

.garage {
  // Из-за особенностей поведения элемента antDesign Carousel с флексами, 
  // необходимо жестко образмеривать контенер сверху
  width: 100%;
  height: 200px;
  background-color: $white;

  @include table {
    height: 300px;
    gap: 20px;
  }

  @include decktop {
    height: 700px;
  }

  &__carousel {
    width: 100%;
    height: 100%;
  }

  &__item_empty {
    width: 100%;
    ;
    height: 200px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    .ant-empty-image,
    .ant-empty-description,
    .ant-empty-footer {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    @include table {
      height: 300px;
    }

    @include decktop {
      height: 700px;
    }
  }
}