.root {
  width: 100%;
  min-height: 100vh;
  display: flex; 
  align-items: center;
  justify-content: center;
  padding: 24px;
  box-sizing: border-box;
}

.field {
  margin-bottom: 20px !important;
}

.title {
  text-align: center !important;
  font-weight: bold !important;
  margin-bottom: 30px !important;

  //@media screen and (max-width: 500px) {
  //  font-size: 20px !important;
  //}
}

.avatar {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}
