.root {
  padding: 50px;
  outline: 1px solid #dedede;
  margin: 0 auto;
}

.header {
  padding: 10px;
  outline: 1px solid #dedede;
  margin: 0 auto;
}

.field {
  margin-bottom: 20px !important;
}

.title {
  text-align: center !important;
  font-weight: bold !important;
  margin-bottom: 30px !important;
}
