@import 'shared/styles';

.profile-wrapper {
  width: 100%;
  height: 100%;
  padding: 20px;
  max-width: $width-decktop;
}

.profile-bg {
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  background-image: url('../../shared/assets/images/back.webp');
  background-size: cover;
  z-index: -1;
}

.profile {
  width: 100%;
  height: 100%;
  box-shadow: 4px 4px 12px $background_accent;
  background-color: #fff;
  padding: 10px;
}