@mixin onboarding-card {
  padding: 36px;
  box-sizing: border-box;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  width: 100%;
  max-width: 450px;
  border-radius: 4px;
  margin-top: 72px;
  margin-bottom: 72px;

  @media (max-width: 600px) {
    height: 100%;
    box-shadow: 0 0 0 rgba(0, 0, 0, 1);
    border: 0;
    margin-top: 0;
    margin-bottom: 0;
  }
}

@mixin onboarding-card-content {
  .title {
    text-align: center !important;
    font-weight: bold !important;
    margin-bottom: 30px !important;
    font-size: 24px;
  }

  .input {
    width: 100%;
    margin-bottom: 20px !important;
  }
}

@mixin onboarding-root {
  padding-top: 36px;
  padding-bottom: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  box-sizing: border-box;
}
