@import '../../../../shared/styles/variables.scss';
@import '../../../../shared/styles/mixin.scss';

.coupon{
  width: 100%;
  box-shadow: 4px 4px 12px $background_accent;
  cursor: pointer;
  transition: all .5s ease;

  &:hover{
    box-shadow: 0px 0px 6px $background_accent;
  }

  &__image-box{
    width: 100%;
    background-color: $background_accent;
  }

  &__image{
    width: 100%;
    height: 192px;
    object-fit: cover;
    object-position: center;
  }

  &__icon{
    width: 100%;
    height: 192px;
    object-fit: cover;
    object-position: center;

    &>svg {
      width: 180px;
      height: 180px;
    }
  }

  &__data{
    padding: 0 8px
  }
  &__title {
    @include text-h4;
    text-align: center;
    white-space:nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 304px 
  }

  &__owner {
    @include text-h5;
    text-align: center;
    white-space:nowrap;
    overflow: hidden;
    text-overflow: ellipsis; 
    max-width: 304px 
  }

  &__text{
    @include text-p;
  }

  &__span{
    @include text-span;
  }
}