.title {
  text-align: center !important;
  font-weight: bold !important;
  margin-bottom: 30px !important;
}

.text {
  text-align: justify;
  color: #0971f1 !important;
  font-size: 16px !important;
  transition: opacity .4s !important;
  font-weight: bold !important;
  text-transform: none !important;
  &:hover {
    cursor: pointer;
    opacity: 0.7;
  }
}

.link {
  margin: 20px 0 !important;
  text-decoration: none;
}
