.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  // background-image: url('../shared/assets/images/bg.webp');
  // background-size: cover;
  min-height: 100vh;
  justify-content: space-between;
  gap: 20px;
  position: relative;
}