@import 'shared/styles/mixin.scss';

.signup-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  width: $width-mobile;
  padding: 15px;
  background-color: $background_accent;

  @include breakpoint(720px) {
    width: 500px;
    gap: 20px;
  }

  &__title {
    @include text-h1;
  }

  &__email,
  &__fio,
  &__submit,
  &__password,
  &__password-space,
  .ant-form-item-control,
  .ant-form-item-control-input,
  .ant-form-item-control-input-content {
    width: 100%;
  }

  &__password-space {
    display: flex;

    .ant-space-item:nth-child(0) {
      flex: 1 0 70%;
    }

    .ant-space-item:nth-child(1) {
      flex: 1 0 30%;
    }
  }



  .ant-form-item {
    margin-bottom: 0;
    width: 100%;
    display: flex;

    &-row {
      display: block;
      width: 100%;

      .ant-col {
        .ant-input {
          @include text-p
        }
      }
    }

    &-label {
      label {
        @include text-p;
      }
    }

    &-control {
      @include text-p;
    }

  }

  &__password-button {
    flex: 1 0 30%;
    @include button-p;
  }

  &__submit-button {
    width: 100%;
    @include button-p;
  }
}