.agreement {
  margin: 20px 0 30px !important;
}

.title {
  text-align: center !important;
  font-weight: bold !important;
  margin-bottom: 30px !important;
}

.button {
  margin: 15px 0 15px 0 !important;
  max-width: 300px;
}
